<%# first two are read only (come from opiton_type.rb) %>
<div data-hook="admin_ad_hoc_option_types_form_fields" class="row">
  <div class="col-md-12">
    <h3><%= Spree.t(:name) %>: <%= f.object.option_type.name %></h3>
    <h3><%= Spree.t(:presentation) %>: <%= f.object.option_type.presentation %></h3>
  </div>
  <div class="col-md-6">
    <%= f.field_container :is_required, class: ['form-group'] do %>
      <%= f.label :position, Spree.t("position_within_product") %><br />
      <%= f.number_field :position, class: 'form-control' %>
      <%= f.error_message_on :position %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= f.field_container :is_required, class: ['form-group'] do %>
      <%= f.label :is_required, Spree.t("required") %> <span class="required">*</span><br />
      <%= f.check_box :is_required, class: 'form-control' %>
      <%= f.error_message_on :is_required %>
    <% end %>
  </div>
</div>



